html, body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-order-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2vh;
}

.create-order-form .text-field {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.create-order-form .buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}